{% extends 'algosite/base.html' %}
{% load custom_filters %}
{% block title %}{{ topic.title }}{% endblock %}

{% block content %}
<div class="container mt-4" style="max-width: 800px;">
  <h1 class="mb-4 text-center">{{ topic.title }}</h1>

  <section class="card">
    <h2>Объяснение</h2>
    <div style="min-height: 200px;">
      {{ topic.explanation|safe }}
    </div>
  </section>


  <section class="card mt-4">
    <h2>Пример кода</h2>
    <pre style="overflow-x: auto;">
      {{ topic.example_code|safe }}
    </pre>
  </section>


  {% if topic.exercise_render_code %}
    <div id="exercise-container" class="border p-3 rounded bg-white mb-3">
      {{ topic.exercise_render_code|safe }}
    </div>
  {% endif %}

  {% if topic.exercise_logic_code %}
    <script>
      {{ topic.exercise_logic_code|safe }}
    </script>
  {% endif %}

  <a href="{% url 'index' %}" class="btn btn-link mt-4">Назад</a>
</div>
{% endblock %}